/* FormTerminos.css */

.title {
    text-align: center;
    color: rgb(91, 221, 91);
    font-size: 40px; /* Tamaño de fuente grande */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
  }

  .title:hover {
    color: #38943d; /* Color al pasar el ratón (puedes cambiar este color) */
  }
  
  .title::before,
  .title::after {
    content: '';
    position: absolute;
    height: 5px;
    background: linear-gradient(90deg, #1b5e20, #00c853);
    transition: width 0.5s ease;
  }
  
  .title::before {
    left: 0;
    bottom: 0;
    width: 0;
  }
  
  .title::after {
    right: 0;
    top: 0;
    width: 100%;
    transition: width 0.5s ease;
  }
  
  .title:hover::before {
    width: 100%; /* Llenar la línea inferior en hover */
  }
  
  .title:hover::after {
    width: 0; /* Ocultar la línea superior en hover */
    animation: slideIn 0.5s forwards; /* Animación de entrada */
  }
  
  .subtitle{
    background-color: lightgreen;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 280px;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 0.5s ease-in;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .cards {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 0.5s ease-in;
  }
  
  .cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .info {
    color: #4a4a4a;
    margin-top: 0;
    text-align: start;
  }
  
  .write {
    color: #5a5a5a;
    line-height: 1.6;
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .Terms {
      padding: 15px;
    }
  
    .title {
      font-size: 2em;
    }
  
    .info {
      font-size: 1.5em;
    }
  
    .write {
      font-size: 1em;
    }
  }
  